#Projects img {
	filter: grayscale(100%);
}

#Projects img:hover {
	filter: grayscale(0);
}

#Projects .block-diagram:hover {
	filter: invert(20%) sepia(7%) saturate(561%) hue-rotate(92deg) brightness(90%) contrast(84%);
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f8f9fa;
	padding: 1em;
	margin-top: 1.25em
}